<form asp-action="Index">
    <label>Nhập Chiều cao</label>
    <input type="number" name="Chiều cao">
    <label>Nhập Cân nặng:</label>
    <input type="number" name="Cân nặng">
    <input type="submit" value="Gửi Dữ Liệu">
</form>
<h1>chỉ số BMI của bạn: @ViewBag.BMI</h1>
<h1>kết quả của bạn là: @ViewBag.Message</h1>